* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'DM Sans', 'Segoe UI', Arial, sans-serif;
    background-color: #FFFFFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
